.doctor-detail-container {
    padding-top: 10px;
    // border: 1px solid red;
    gap: 10;

    .intro-product {

        .content-left {
            // border: 1px solid green;
            height: 400px;
            background: center center no-repeat;
            background-size: contain;
            margin-top: 18px;
        }

        .content-right {
            height: 400px;

            .name-product {
                padding-top: 10px;
                padding-top: 10px;
                font-size: 20px;
                color: #1e1e23;
                font-weight: 300;
            }

            .desciption-product {
                padding-top: 10px;
                padding-top: 10px;
                font-size: 15px;
                color: #7c7c80;
            }

            .price-product {
                font-size: 16px;
                color: red;
                padding-top: 10px;
            }

            .delivery-return {
                border-bottom: 1px solid #ccc;
                padding: 15px 0;

            }

            .contact {
                p {
                    margin-top: 25px;
                    margin-bottom: 1rem;
                    font-size: 21px;

                }

                span {
                    color: red;
                }

            }

            .btn-buy-now {

                border: none;
                outline: none;
                padding: 5px;
                font-size: 23px;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                    color: red;
                }
            }
        }
    }

    .intro-markdown-product {
        border-top: 1px solid rgb(231, 228, 228);
        margin-top: 30px;


        img {
            width: 100%;

        }
    }

}