.preview-img-container{ 
    display: flex;
    .lable-upload{
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        align-items: center;
        padding-top: 20px;
        &:hover{
            opacity: 0.9;
        }
    }
    .preview-image{
        height: 60px;
        width: 50%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
    }
}

