.welcome-admin-container {
    .welcome-admin-body {
        .bg-image {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}