.Register-background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .Register-containner {
        width: 400px;
        margin: 0 auto;
        height: 100vh;
        border-radius: 10px;
        background-color: white;
        position: absolute;
        margin: auto;
        margin-top: 30px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 520px;
        padding-top: 0px;

        .Register-content {
            padding: 10px;

            .text-Register {
                text-align: center;
                font-weight: 600px;
                font-size: 24px;
                padding: 10px;
            }

            .Register-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }

                }

            }

            .btn-Register {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 10px;
                outline: none;
                border: none;
                font-size: 20px;
                color: aliceblue;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-Register {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;


                .google {
                    font-size: 30px;
                    background-color: red;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    margin-right: 10px;
                    cursor: pointer;

                }

                .facebook {
                    font-size: 30px;
                    background-color: rgb(4, 0, 255);
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    cursor: pointer;

                }
            }
        }
    }
}