.home-footer {
    z-index: 1000;
    width: 100%;
    // border: 1px solid orangered;
    background-color: black;
    height: 100px;

    p {
        margin-top: 13px;
        color: aliceblue;
    }
}