.price-new-productprice-new-product {
    .name-product {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 400;
        color: #5e5959;
    }

    .price-detail-product {
        font-size: 15px;
        font-weight: 400;
        padding-top: 5px;

        span {
            color: red;
        }
    }

}