.section-outstand-seller {
    background-color: #f5f5f5;

    .section-body-seller {
        margin-top: -94px;

        // color: red;
        p {
            padding-top: 10px;
            font-size: 17px;
            font-weight: 500;
            color: #302d2d;
        }
    }
}